
.nav img {
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 15px;
}

.nav {
    padding: 0;
    height: 100%;
    width: 90px;
    background: rgb(104, 103, 103);
    position: absolute;
}